# Get your OpenAI API key from https://platform.openai.com/
OPENAI_API_KEY=your-openai-api-key

# Get your Financial Datasets API key from https://financialdatasets.ai/
FINANCIAL_DATASETS_API_KEY="b0f6be9a-6624-4f6d-be85-3def3ff2a716"
# FINANCIAL_DATASETS_API_KEY=your-financial-datasets-api-key